body{
  padding-top: 80px;
  padding-bottom: 70px;
}
nav *{
  font-size: 18px;
}
    .checkout-section {
  background-color: #f8f9fa;
}

.checkout-section h4 {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 8px;
}

.border {
  border-color: #dee2e6 !important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.btn-warning {
  border-radius: 30px;
}

.form-check-input:checked {
  border-color: #ffc107;
  background-color: #ffc107;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8); 
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .modal-content{
  max-width:500px;
  background-color: #fff;
  color: #333;
  padding: 2rem;
  border-radius: 12px;
  z-index: 102;
 }

 .heading-intro{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  
 }
 .btn-cont{
  display: flex;
  justify-content: space-between;
 }

 .btn-cont button{
  padding:10px;
  border-radius:20px;
  background-color: #ffc107;
  border: none;
 }

 .btn-cont button:hover{
  background-color: #ffb107;
 }

 .btn-cont button:active{
  background-color: #ffc107;
 }
 .hidden{
  display:none;
 }